@model AskQ.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "View";
}

<div class="card m-3">
    <div class="card-header">
        Asked by:
        @if (Model.AskedFromUsername is null)
        {
            <span>anonymous user</span>
        }
        else
        {
            <a asp-controller="User" asp-action="UserProfile" asp-route-username="@Model.AskedFromUsername">@Model.AskedFromUsername</a>
        }
        | at @Model.Date
        <a class="float-right" asp-controller="Question" asp-action="Reply" asp-route-id="@Model.Id">Reply</a>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>@Model.Text</p>
            @foreach (string reply in Model.Replies)
            {
                <footer class="blockquote-footer">@reply</footer> @*TODO: Show reply time as well.*@
            }

        </blockquote>
    </div>
</div>
